@{
    ViewBag.Title = "Empty";
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<div id="section">

    <p style="text-align: center;">
        <span style="line-height: 1.3em;">
            No Items present under this category.
        </span>
    </p>
    <br />






</div>

